
.carousel-item {
  height: 100vh;
  min-height: 300px;
}

.carousel-caption {
  top: 200px;
}
  
.carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

.navbar-brand {
  font-weight: bold;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

body {
  background-color: #232325;
}

.navbar {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}