body {
  color: #5a5a5a;
  font-size: 18px;
}
  
.navbar-brand {
  font-weight: bold;  
}

.navbar {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #232323;
}

.otsikot {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 30px;
  text-align: center;
  padding: 50px;
}

hr {
  width:50%;
  margin:0 auto;
  padding: 15px;
}

.img-fluid {
  height: 400px;
  width: fit-content;
}

.mainp {
  font-size: 22px;
  text-align: center;
}

.toimipls {
  position: relative;
}

.potsikko {
  text-align: center;
  position: absolute;
  top: 270px;
  left: 0;
  right: 0;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 2px;
}

input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=checkbox] {
  margin-top: 16px;
}

input[type=submit] {
  background-color: #007bff;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
} 

.testifooter {
  padding: 50px;
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

h2 {
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
}

figcaption {
  font-size: 14px;
  font-style: italic;
}

.paivamaara {
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.carousel-indicators li {
  width: 5px;
  height: 5px;
  border-radius: 100%;
}

.lahde {
  font-size: 11px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.carousel-caption {
  font-size: 14px;
  text-align: center;
  letter-spacing: 2px;
}

a:hover {
	text-decoration: none;
}

.backtotop {
  border: 2px;
  border-color: #232323;
}